* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url(../Img/fundo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


/* Caixa de Login */

.loginbox {
    width: 350px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 100px 50px;
}


/* Avatar */

.avatar {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

input.nome,
input.senha {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

input.submit {
    border: none;
    outline: none;
    height: 40px;
    background: #17755b;
    color: #fff;
    font-size: 18px;
}

input.submit:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover {
    color: #ffc107;
}

.wallpaper {
    height: 88vh;
    width: 100%;
    background: url(fundo.jpg);
    background-size: cover;
}


/* NavBar */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #17755b;
    padding: 30px 0;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: unset;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
    color: #bdb8d7;
    display: block;
}

.wrapper .sidebar ul li a .fa {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background: #17755b;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .sidebar .social-media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social-media a {
    display: block;
    width: 40px;
    background: #e0e4e8;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color: #17755b;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.wrapper .main-content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main-content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main-content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main-content .info .div {
    margin-bottom: 20px;
}